.logo{
    
    background-image: url('../assets/enter.png');

    position: absolute;
    margin-left: -27rem;
    margin-top: -14rem;
    
    width: 1100px;
    height: 527px;

    -moz-transform:scale(0.1);
    -webkit-transform:scale(0.1);
    transform:scale(0.1);
}

.login{

    margin-left: 72vw;
    margin-top: 1.2rem;

    text-align: right;

    padding-right: 3rem;

}

.login span{

    display: inline-block;

    font-size: 1.3rem;
    margin-top: 0.5%;

}

.github {

    position: absolute;
    margin-left: 15px;
    margin-top: -20px;

}

.error{

   float: left;

   margin-left: 320px !important;
   margin-top: -27px !important;

   cursor: default;

}


