.friends {

    display: flex;
    
    width: 20rem;
    height: calc(100% - 5rem);

    margin-top: 5rem;

    position: fixed;

    left: 0%;
    top: 0%;

    flex-flow: column;

}

.search {

    font-size: 1rem;

}

#friends-list {

    flex: 1 1 auto;

}

#search-type {

    flex: 0 1 auto;

}

#requests {

    flex: 0 1 3rem;

}

