.friends {

    display: flex;

    width: 25rem;
    height: calc(100% - 5rem);

    margin-top: 5rem;

    position: fixed;

    left: 0%;
    top: 0%;

    flex-flow: column;

    border: 1px solid #DDDDDD;

}

.list {

    word-wrap: break-word;

}

.search {

    font-size: 1rem;

}

#friends-list {

    flex: 1 1 auto;

    border-bottom: 1px solid #DDDDDD;

    overflow: auto;

}

#search-type {

    flex: 0 1 auto;

}

#requests {

    flex: 0 1 3rem;

}

#user-request {

    font-size: 2rem;

    padding-left: 0.5rem;
    padding-top: 0.3rem;

    cursor: default;

}

.list > ul {

    padding-left: 0;

}

.list > ul > li {

    list-style-type: none;

    height: 2rem;

    position: relative;

    margin-top: 1rem;

}

.list > ul > li:hover {

    background-color: rgba(0, 179, 223, 0.1);

}

.list > ul > li > span {

    position: absolute;

    top: 15%;

    font-size: 1.4rem;

    margin-left: 2rem;

    cursor: default;

}

.list > ul > li > i.message {

    position: absolute;

    right: 3rem;

    font-size: 1.5rem;

    top: 5%;

}

.list > ul > li > i:hover {

     cursor: pointer;

}

.list > ul > li > i.remove_friend {

    position: absolute;

    right: 0rem;

    font-size: 1.5rem;

    top: 5%;

}

.list > ul > li > i.remove_friend:hover {

    color: red;

}

.list > ul > li > i.message:hover {

    color: green;

}
