
#friend-requests {

  width: 3rem;
  height: 3rem;

  border-right: 1px solid #DDDDDD;

  position: absolute;

}

#friends-list {

    flex: 1 1 auto;

    position: relative;

    border-bottom: 1px solid #DDDDDD;

    overflow: auto;

}

#search-type {

    flex: 0 1 auto;

}

#requests {

    flex: 0 1 3rem;

}

#request {

  height: 3rem;
  width: calc(100% - 3rem);

  position: absolute;

  left: 3rem;

}

#user-request {

    font-size: 2rem;

    padding-left: 0.5rem;
    padding-top: 0.3rem;

    cursor: default;

}

#request_info {

  position: absolute;

  width: calc(100% - 3rem);
  height: 100%;

  left: 1.5rem;

  font-weight: bold;

  cursor: default;

}

#accept {

  font-size: 1.5rem;

  position: absolute;

  right: 2rem;

  top: 0.35rem;

}

#discard {

  font-size: 1.5rem;

  position: absolute;

  right: 0rem;

  top: 0.35rem;

}

#previous_request {

  position: absolute;

  width: 1rem;

  font-size: 2rem;

  top: calc(50% - 0.35rem);

  transform: translateY(-50%);

  left: 0.3rem;


}

#next_request {

  position: absolute;

  font-size: 2rem;

  width: 1rem;

  top: calc(50% - 0.35rem);

  transform: translateY(-50%);

  right: 0rem;

}

#previous_request:hover {

  cursor: pointer;

}


#next_request:hover {

  cursor: pointer;

}

#accept:hover {

  cursor: pointer;

  color: lime;

}

#discard:hover {

  cursor: pointer;

  color: red;

}

#see_more {

  position: sticky;

  left: calc(50% - 5rem);

  font-size: 1.3rem;

  color: rgba(0,0,0,0.3);

  width: 10rem;

  text-align: center;

}

#see_more:hover{

  color: black;

  cursor: pointer;

}


#msg {

  display: flex;

  width: calc(100% - 25rem);
  height: calc(100% - 5rem);

  margin-top: 5rem;

  position: fixed;

  left: 25rem;
  top: 0;

  flex-flow: column;

}

#list {

  display: flex;

  margin: 0;

  padding: 0;

  list-style-type: none;

  position: absolute;

  top: 50%;

  transform: translate(0, -50%);

}

#list > li {

  display: inline-block;

  position: relative;

  text-align: center;

  font-weight: bold;

  width: 20rem;
  height: 2rem;

  background-color: #F9F9F9;

  border-radius: 4rem;

  line-height: 2rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  transition: all linear 0.2s;

}

#list > li:first-child {

  margin-left: 1rem;

}

#list > li:last-child {

  margin-right: 3rem;

}

#list > li:hover {

  cursor: pointer;

  background-color: rgba(0, 179, 223, 0.1) !important;

}
